<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord Catalog</title>
    <link rel="stylesheet" href="style-s.css">

</head>
<body>
    <header>
        <h1>Accord Collection</h1>
        <div class="nav-section">
            <nav>
                <ul>
                    <li><a class="active" href="home.html">Home</a></li>
                    <!-- <li><a href="favorite.html">Fav</a></li>       FOR LATER! -->
                </ul>
            </nav>

            <form id="search-bar" action="search.html">
                <label for="search-input"> Search: </label>
                <input type="text" id="search-input" name="game">
            </form>
        </div>
    </header>
    
    <main class="home-layout">
        <div class="help-section">
            <div class="help-title">
                <h2>Help Menu</h2>
            </div>

            <div class="help-info">
                <h2>This library acts as an informative video game catalog</h2>
                <p>To access a game page and its info...</p>
                <h3>...click on a title to get started!</h3>
                <p>To find a specific game title...</p>
                <h3>...type in the name using the search bar!</h3>
                <p>To return to home page...</p>
                <h3>...use the navigation bar on the top left!</h3>
                <h2>[ All games published after 2022 would not (yet) be available ]</h2>
            </div>
        </div>

    </main>

</body>
</html>